<html !doctype>
<meta charset="UTF-8">
<head>
    <!-- <link rel="stylesheet" href="../node_modules/fullcalendar/dist/fullcalendar.css" /> -->
    <link href="/scripts/fullcalendar.min.css" rel="stylesheet">
    <script src = "/scripts/jquery.min.js"></script>
    <script src = "/scripts/moment.min.js"></script>
    <script src = "/scripts/fullcalendar.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            var start_temp;
            var end_temp;
            var eventJson = [
                {{{events}}}
            ];

            $('#calendar').fullCalendar({
               header: {
                   left: 'prev,next,today',
                   center: 'title',
                   right: 'month,agendaWeek,agendaDay'
               },
               selectable: true , // ability to select multile days
               editable: true, //make changes to calendar
               eventLimit:  true, // limits the number of events that can be rendered on the agenda
               allDay: false,
               events: eventJson,

               select:  function(start,end) {
                    end_temp = moment(end).format('h:mm t');
                    start_temp = moment(start).format('ddd, MMM DD, h:mm t');
                    var day = !start.hasTime() && !end.hasTime();

                    $("#eventEndTime").val(end.format());
                    $('#eventStartTime').val(start.format());
                    $('#eventAllDay').val(day);
                    $('#when').text(start_temp + " - " + end_temp);
                    $('#calendarModal').modal('show');
                },

                eventRender: function(event, element) {
                    element.find('.fc-content').append( "<div style ='float:right'><span style = 'background-color:red' class='closeon'>X</span></div>" );
                    element.find(".closeon").click(function() {
                        
                        toDelete = {
                            title: event.title,
                            start: event.start.format(),
                            end: event.end.format()
                        }

                        console.log(toDelete)

                        const xhr = new XMLHttpRequest();

                        xhr.open("POST", '/users/agenda-del');
                        xhr.setRequestHeader('Content-Type', 'application/JSON');
                        xhr.send(JSON.stringify(toDelete));

                        $('#calendar').fullCalendar('removeEvents',event._id);
                    });
                },

                eventDrop: function(event){
                    //find the event in the array of events in the backend. Then update its new start time
                    // its end time is the 
                    console.log(event.title + " was moved to " + event.start.format());
                    //console.log(event.title + " was moved to " + event.end.format());
                    console.log(event._id);
                }
                
            });

            //testing the submit button of the modal*/
            $('#submitButton').on('click', function(e){
                e.preventDefault(); //when the database is set up. Remove this. 

                getFormData();
            })
            /*testing the submit button of the modal*/
            function getFormData(){
                $('#calendarModal').modal('hide');
                
                start_temp = document.getElementById('eventAllDay').value;
                console.log(start_temp);

                temp_event = {
                    title: $('#eventName').val(),
                    start: $('#eventStartTime').val(), 
                    end: $('#eventEndTime').val(),
                    allDay: ($('#eventAllDay').val() == "true")
                }
                eventJson.push(temp_event);
                $("#calendar").fullCalendar('renderEvent',                   
                    eventJson[eventJson.length - 1],
                    true //stick :true means the event will stay even when we swtich between views
                );
                console.log(temp_event)
                const xhr = new XMLHttpRequest();
                xhr.open("POST", '/users/agenda');
                xhr.setRequestHeader('Content-Type', 'application/JSON');
                xhr.send(JSON.stringify(temp_event));       
            }
         })
    </script>
</head>

<html !DOCTYPE>
<head>
    <title>Virtual Version-Home</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <!-- <link rel="stylesheet" href="sidebar.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel='stylesheet' href='/stylesheets/style.css'/>-->   
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>
<body>
    <div class="wrapper" id="sidebar_content">
    
        <nav class="navbar navbar-inverse" id="navbar_top">
            <div class="container-fluid" id="navbar_container">             
                <!--top left-->
                <div class="navbar-header">
                    <!--side bar toggle button-->
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn navbar-left">
                    <i class="glyphicon glyphicon-align-left"></i>
                    </button>
                    
                    <!--logo-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"> </span> <!--the hamburger icon for collpsing-->
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                    <a href="/users/dashboard" class="navbar-brand">Virtual Version</a>
                </div>
                
                <!--menu items-->
                <div class="collapse navbar-collapse" id="mainNavBar"> <!--id for the data-target="mainNavBar"-->
                </div>
            </div>
        </nav>
        
        <!--sidebar-->
        <nav id="sidebar">
            
            <!--sidebar Header-->
            <div class="sidebar-header">
                <h3>Hello, {{name}}</h3>
            </div>
            
            <!--Sidebar links-->
            <ul class="list-unstyled components">
                <li >
                    <a href="/users/dashboard"><i class="fa fa-file-text-o" style="font-size:25px;"> </i> Documents</a>
                </li>
                <li>
                    <a href="/users/agenda"><i class="fa fa-calendar" style="font-size:25px"></i> Agenda</a>
                </li>
                <li>
                    {{!-- <a href="#"><i class="fa fa-gear" style="font-size:25px;"></i> Settings</a> --}}
                </li>
                <li>
                    <a href="/users/logout"><i class="fa fa-power-off" style="font-size:24px"></i> Logout</a>
                </li>
            </ul>
            
        </nav>
        <!--content-->
        <div id="content">
            
            <div id="upload_open_new">
                <div id = 'calendar'>
                </div>
                <!--Modal-->
                <div id="calendarModal" class="modal fade" role = "dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                <h3>Create Event</h3>
                            </div>
                            <div class = "modal-body">
                                <form action = "submitEventData" type = "post" >
                                    <div class = "form-group">
                                        <label style = "display: inline" >Event Name: </label>
                                        <input id="eventName" type="text" name="eventName" placeholder="Event Name" />
                                    </div>
                                    <div class = "form-group">
                                        <label for = "when" >When:</label>
                                        <div style = "display: inline" id = "when">Hello</div>
                                    </div>
                                    <div style = "display: none" class = "form-group">
                                        <input  id = "eventStartTime" type="text" name="eventStartTime"/>
                                    </div>
                                    <div style = "display: none" class = "form-group">
                                        <input  id = "eventEndTime" type="text" name="eventEndTime"/>
                                    </div>
                                    <div style = "display: none" class = "form-group">
                                        <input id = "eventAllDay" type="text" name="eventAllDay"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <!--take off onclick for type = "submit"  -->
                                        <button type = "submit" class="btn btn-primary" id="submitButton">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
    <div id = 'calendar'>
    </div>
    <!--Modal-->
    <div id="calendarModal" class="modal fade" role = "dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h3>Create Event</h3>
                </div>
                <div class = "modal-body">
                    <form action = "submitEventData" type = "post" >
                        <div class = "form-group">
                            <label style = "display: inline" >Event Name: </label>
                            <input id="eventName" type="text" name="eventName" placeholder="Event Name" />
                        </div>
                        <div class = "form-group">
                            <label for = "when" >When:</label>
                            <div style = "display: inline" id = "when">Hello</div>
                        </div>
                        <div style = "display: none" class = "form-group">
                            <input  id = "eventStartTime" type="text" name="eventStartTime"/>
                        </div>
                        <div style = "display: none" class = "form-group">
                            <input  id = "eventEndTime" type="text" name="eventEndTime"/>
                        </div>
                        <div style = "display: none" class = "form-group">
                            <input id = "eventAllDay" type="text" name="eventAllDay"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!--take off onclick for type = "submit"  -->
                            <button type = "submit" class="btn btn-primary" id="submitButton">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</hteml>