{{#if success_msg}}
	<div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
	<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{/if}}

<form method="POST">
  <legend>Forgot Password</legend>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" autofocus="autofocus"/>
  </div>
  <button class="btn btn-primary" type="submit">Reset Password</button>
</form>