
<html !doctype>
<head>
	<meta charset="UTF-8"/>
	<title>Reset-Virtual Version</title>
	<link rel="stylesheet" href="/stylesheets/reset_password.css"/> 
</head>

<body>
	<div id="header">
		<h1>Virtual Version</h1>
	</div>
	<div id="user_create_acc_input_box">
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
          
        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
          
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}      
        <form method="POST">
            <fieldset>
                <legend>Reset Password:</legend>
                        <br>
                        <input class="form-control" type="password" name="password" value=""  autofocus="autofocus" placeholder="New password"/>
                        <input class="form-control" type="password" name="confirm" value="" placeholder="Confirm new password"/>
                        <a><button id ="update_password" class="btn btn-primary" type="submit">Update Password</button></a>
            </fieldset>
        </form>
	</div>
</body>

</html>