*{
	margin:0px;
	padding:0px;
}

body{
	text-align:center;
	background-color:#f2f2f2;
}

#headerVV{
	text-align:left;
	border: 1px solid black;
	width: 100vw;
	margin-bottom:20px;
	background:linear-gradient(to right, #66b3ff, #f4f4f4);
}

h10{
	font-size: 38px;
	font-weight: bold;
	font-family: courier;
	/*background:linear-gradient(to right, #66b3ff, #f4f4f4);*/
	padding:10px;
}

#user_create_acc_input_box{
	margin:auto;
	width: 25%;
	padding:15px;
}

p{
	font-family: Times New Roman;
	font-size: 30px;
	text-align:left;
	margin-bottom:15px;
}

input{
	margin:auto;
	margin-bottom:15px;
	width:80%;
	height:auto;
	border: 1px solid teal;
	padding: 15px;
}

#sign_up_button{
	background-color: #66b3ff;
	border-radius: 10px;
}

#catch_phrase{
	text-align:center;
}

#sign_up_button:hover {
    background-color: teal;
    color: white;
}

footer{
	margin:30px;
}

#copyright{
	margin-top:20px;
	text-align:center;
	font-size:18px;
}



