*{
	margin:0px;
	padding:0px;
}

body{
	text-align:center;
	background-color:#f2f2f2;
}

#header{
	text-align:left;
	width:100%;
	background:linear-gradient(to right, #66b3ff, #f4f4f4);
	border:1px solid black;
}

h1{
	font-family: courier;
	padding:10px;
}

#user_create_acc_input_box{
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
	left: 50%;
}

p{
	font-family: Times New Roman;
	font-size: 30px;
	text-align:left;
	margin-bottom:15px;
}

input{
	margin:auto;
	margin-bottom:15px;
	width: 80%;
	height:auto;
	border:  1px solid teal;
    padding: 15px;
	border-radius: 10px;
	outline: none;
}
a #update_password{
	border:none;
	margin-bottom: 20px;
}
#update_password{
	background-color: #66b3ff;
    border-radius: 10px;
	width:200px;
	outline:0;
}

#update_password:hover {
    background-color: teal;
	color: white;
	outline:0;
}




